fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
python-jose[cryptography]
passlib[bcrypt==4.0.1]
python-multipart
pydantic-settings
boto3
redis
websockets
python-dotenv
slowapi
pydantic[email]